/*STYLES*/
.sidenav{
  background-color: black;
}

.card{
  cursor: pointer;
  background-color:#2b2a2a;
  font-family: 'PT Sans', sans-serif;
}

.user-view{
  overflow:hidden;
  width: 100%;
}

.sidenav .user-view .circle{
  height: 84px;
  width: 84px;
}

#bizNameProfile{
  font-size: 22px;
}

#bizShortDescription{
  margin-top: 7px;
  color: #c2bcbc;
}

#bizListingDescription{
  color: #9e9595;
}

.sidenav .user-view{
  padding: 15px 22px 10px;;
}

#closSideNav{
  color: white;
  float: right;
  cursor: pointer;
  padding-top: 5px;
  padding-right: 12px;
}

#vendorListTitle{
  padding-top: 3%;
  border-bottom: 0.2px solid rgb(255, 255, 255);
  padding-left: 10%;
  font-weight: bold;
  font-size: 20px;
}

#burgerButton{
  padding-top: 40%;
  padding-bottom: 40%;
}

#detailHeader{
  padding-top: 20px;
  margin-bottom: 0%;
  padding-bottom: 20px;
  font-family: 'Rokkitt', serif;
}

#bizContact{
  font-size: 20px;
  padding-top: 4%;
}

#bizName{
  font-size: 35px;
}

#bizURL{
  font-size: 22px;
  padding-top: 1%;
}

#bizPhone{
  font-size: 22px;
  padding-top: 2%;
}

#socialMediaHandles{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  font-family: 'Rokkitt', serif;
  margin-bottom: 40px;
  font-size: 18px;
}

#bizData{
  column-count: 2;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
}

#mediaGlobal{
  border-top: 2px solid #2196f3;
  padding-top: 2%;
}

#mediaItem{
  border-bottom: 1px solid #b9b9b9;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1%;
}

#mediaText{
  color: #3e86c7;
  font-size: 20px;
}

.mediaImage{
  width: 100px;
  height: 100px;
}

.profileImageDetail{
  width: 60px;
  height: 60px;
}

#bizProfileImage{
  display: inline-block;
}

#bizProfileName{
  float: right;
  position: absolute;
  padding-left: 20px;
   padding-right: 20px;
}

#errorMessage{
  padding: 20px 20px 20px 20px;
}

.underline{
  text-decoration: underline;
}

.center{
  text-align: center;
}
